.DS_Store
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/mindhub/.DS_Store
src/main/resources/.DS_Store
src/main/resources/static/.DS_Store
/src/main/resources/static/web/.DS_Store
backups and docs/salvoGame.zip
backups and docs/Task_1_Salvo-Battleship-Game.zip
backups and docs/task_2_Salvo-Battleship-Game.zip
backups and docs/Task_3_Salvo-Battleship-Game.zip
bin/*
src/main/resources/static/web/style/.DS_Store
