/* GridStack Style BELOW */

.grid-stack-item-content {
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0px !important;
    right: 0px !important;
}

.submarineHorizontal {
    background-image: url('submarinehor.png');
    background-size: contain;
}

.carrierHorizontal {
    background-image: url('carrierhor.png');
    background-size: contain;
}

.patrolHorizontal {
    background-image: url('patrolboathor.png');
    background-size: contain;
}

.destroyerHorizontal {
    background-image: url('destroyerhor.png');
    background-size: contain;
}

.battleshipHorizontal {
    background-image: url('battleshiphor.png');
    background-size: cover;
}

.submarineVertical {
    background-image: url('submarinever.png');
    background-size: 100% 100%;
    width: 40px !important;
}

.carrierVertical {
    background-image: url('carrierver.png');
    background-size: 100% 100%;
    width: 40px !important;
}

.patrolVertical {
    background-image: url('patrolboatver.png');
    background-size: 100% 100%;
    width: 40px !important;
}

.destroyerVertical {
    background-image: url('destroyerver.png');
    background-size: 100% 100%;
    width: 40px !important;
}

.battleshipVertical {
    background-image: url('battleshipver.png');
    background-size: 100% 100%;
    width: 40px !important;
}

#grid {
    height: 400px;
    width: 400px;
}

#grid-ships {
    width: 440px;
    padding-left: 40px;
    padding-top: 40px;
    background-image: url(grid-bkg.png);
    background-size: contain;
}


/* MY STYLES BELOW */

.naval_grid {
    background-color: lightblue;
}

:root {
    --main-color: #007bff;
    --text-color: #f7f7f7;
    --ship-color: darkslategrey;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: darkblue;
    color: white;
    border: 1px solid white;
}

#salvos_grid,
#ships_grid {
    width: 440px;
    height: 440px;
    padding-left: 40px;
    padding-top: 40px;
}

#salvos_grid td:hover {
    background-color: yellow;
}

.td_salvo {
    background-color: yellow;
}

.letter {
    background-color: darkblue;
    color: white;
    border: 1px solid white;
}

.td_salvo_shot {
    background-color: blue;
    color: white;
}

.td_salvo_shot_hit {
    background-color: red;
    color: white;
}

.td_salvo_shot_sunk {
    background-color: black;
    color: white;
}

.salvo_hit {
    position: absolute;
    background-image: url(salvo_hit.jpg);
    background-size: 100% 100%;
    width: 40px !important;
    height: 40px !important;
    z-index: 100;
    opacity: 0.8;
}

.salvo_miss {
    position: absolute;
    background-image: url(salvo_miss.jpg);
    background-size: 100% 100%;
    width: 40px !important;
    height: 40px !important;
    z-index: 100;
    opacity: 0.8;
}

.game_over_img {
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}