table,
th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.naval_grid {
    background-color: lightblue;
}

th {
    background-color: blue;
    color: white;
}

#salvos_grid td:hover {
    background-color: yellow;
}

.letter {
    background-color: blue;
    color: white;
}

.td_salvo_shot {
    background-color: orange;
    color: white;
}

.td_ship {
    background-color: darkslategrey;
    color: white;
}

.td_ship_hit {
    background-color: red;
    color: white;
}

.td_ship_miss {
    background-color: lime;
}